body{
  background-color: #e0e0e0;
}
.box{
  background-color: #ffffff;
  margin: 30px;
  padding: 20px 50px;
  min-height: calc(100vh - 60px);
}
.searchInput,
.searchInput:focus{
  background-color: #e0e0e0;
  border: none;
  outline: none;
  text-indent: 20px;
}
.cardDataContainer{
  background-color: #e0e0e0;
  max-height: 260px !important;
  position: relative;
  margin: 50px 0;
}
.imgContainer{
  position: relative;
  top: -35px;
  min-height: 290px;
  height: 100%;
  overflow: hidden;
  max-width: fit-content;
}
.title, .text{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}
.text{
   -webkit-line-clamp: 4;
}
.gray{
  color: #909090;
}
.blue{
  color: rgb(19, 19, 51);
}
.btn-blue{
  background-color: rgb(19, 19, 51);
  color: #ffffff;
}
.btn-blue:hover{
  background-color: rgb(13, 13, 32);
  color: #e9dfdf;
}